{# Left navbar links togglers (for responsive) #}
<ul class="navbar-nav navbar-no-expand">

{# Sidebar Toggler #}
<li class="nav-item">
    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
        <i class="fas fa-bars"></i>
    </a>
</li>

{# Tobpar toggler #}
<li class="nav-item">
    <button class="nav-link navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <i class="fas fa-caret-down"></i>
    </button>
</li>
</ul>


{# Left navbar links #}
<div class="collapse navbar-collapse order-3" id="navbarCollapse">
    <ul class="navbar-nav">

        {# Home #}
        <li class="nav-item">
            <a class="nav-link" href="/internal/home" role="button">
                <i class="fas fa-home"></i>
                <span class="d-inline-block d-md-none ml-1 ml-md-0">Home</span>
            </a>
        </li>

        {# Hospital Core #}
        <li class="nav-item dropdown">
            <a 
                href="#" 
                data-toggle="dropdown" 
                class="nav-link dropdown-toggle"
            >Hospital Core</a>
            
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="/patms/" class="dropdown-item">Patient Management</a></li>
                <li><a href="/tms/" class="dropdown-item">Treatment Management</a></li>
                <li><a href="/pharms/" class="dropdown-item">Pharmacy</a></li>
                <li><a href="/rms/" class="dropdown-item">Medical Record</a></li>
                <li><a href="/dms/" class="dropdown-item">Doctors Management</a></li>
                <li><a href="/tms/" class="dropdown-item">Visitors Management</a></li>
            </ul>
        </li>

        {# Human Resource #}
        <li class="nav-item dropdown">
            <a 
                href="#" 
                data-toggle="dropdown" 
                class="nav-link dropdown-toggle text-primary"
            >Human Resource</a>
            
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="/chcms/" class="dropdown-item">Core Human Capital Management</a></li>
                <li><a href="/rms/" class="dropdown-item active">Recruitment Management</a></li>
                <li><a href="/ta/" class="dropdown-item">Time & Attendance</a></li>
                <li><a href="/perfms/" class="dropdown-item">Performance Management</a></li>
            </ul>
        </li>

        {# Finance #}
        <li class="nav-item dropdown">
            <a 
                href="#" 
                data-toggle="dropdown" 
                class="nav-link dropdown-toggle"
            >Finance</a>
            
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="./submodule.html" class="dropdown-item">General Ledger</a></li>
                <li><a href="./submodule.html" class="dropdown-item">Accounts Payable/Receivable</a></li>
                <li><a href="./submodule.html" class="dropdown-item">Collection/Disbursement</a></li>
            </ul>
        </li>

        {# Logistics #}
        <li class="nav-item dropdown">
            <a 
                href="#" 
                data-toggle="dropdown" 
                class="nav-link dropdown-toggle"
            >Logistics</a>
            
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="/procms/" class="dropdown-item">Procurement Management</a></li>
                <li><a href="./submodule.html" class="dropdown-item">Warehousing Management</a></li>
                <li><a href="/am/" class="dropdown-item">Asset Management</a></li>
                <li><a href="/projms/" class="dropdown-item">Project Management</a></li>
            </ul>
        </li>

        {# SysAdmin #}
        <li class="nav-item">
            <a href="/sysadmin/" class="nav-link">SysAdmin</a>
        </li>
    </ul>
</div>  


{# Right navbar links #}
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

    
    {# Notifications Dropdown Menu #}
    <li class="nav-item dropdown">
        <a href="" class="nav-link" data-toggle="dropdown">
            <i class="fas fa-bell"></i>
            <span class="badge badge-warning navbar-badge font-weight-bold" id="notifCounter"></span>
        </a>
        
        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right p-1" style="max-height: 25em; overflow-y: auto">
            <div class="p-2">
                <div class="d-flex align-items-center">
                    <h4 class="font-weight-bold text-left d-inline-block m-0 mr-2">
                        <span>Notifications</span>
                    </h4>
                    <div class="badge badge-warning badge-sm" id="notifCounterForDropdown"></div>
                </div>
                <div class="small text-muted" id="totalNotifications"></div>
            </div>
            
            <div class="dropdown-divider my-1"></div>

            {# Notification Loader #}
            <div id="notifications">
                <div class="text-center py-5 wait">
                    <div class="spinner-border text-primary my-3" role="status">
                        <span class="sr-only">Loading ...</span>
                    </div>
                </div>
            </div>

            {# for i in range(10) %}
                <a href="#" class="dropdown-item d-flex">
                    <div class="nav-icon">
                        <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle mr-2" style="height: 2.5rem; width: 2.5rem">
                            <i class="fas fa-envelope" style="font-size: 17.5px"></i> 
                        </div>
                    </div>
                    <div>
                        <div class="text-wrap" style="line-height: 1.25">
                            <span>4 lorem impsum dolor sit amet consectetur</span>
                        </div>
                        <div class="small">3 mins</div>
                    </div>
                    <div class="align-self-center">
                        <span class="text-danger">&#11044;</span>
                    </div>
                </a>
            {% endfor #}

            <div class="dropdown-divider my-1"></div>
            
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
    </li>

    {# User Menu #}
    <li class="nav-item dropdown">
        <a href="" class="nav-link" data-toggle="dropdown" role="button">
            <i class="fas fa-user-circle"></i>
            {# <span class="badge badge-warning navbar-badge">15</span> #}
        </a>

        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-1">
            <h4 class="font-weight-bold text-left p-2 m-0">Your account</h4>

            <div class="dropdown-divider my-1"></div>

            <a href="" class="dropdown-item d-flex">
                <div class="nav-icon">
                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle mr-2" style="height: 2.5rem; width: 2.5rem">
                        <i class="fas fa-user m-0" style="font-size: 17.5px"></i> 
                    </div>
                </div>
                <div>
                    <div class="text-wrap font-weight-bold" style="line-height: 1.25">Profile</div>
                    <div class="small">View and manage your profile</div>
                </div>
            </a>
            <a href="" class="dropdown-item d-flex">
                <div class="nav-icon">
                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle mr-2" style="height: 2.5rem; width: 2.5rem">
                        <i class="fas fa-cog m-0" style="font-size: 17.5px"></i> 
                    </div>
                </div>
                <div>
                    <div class="text-wrap font-weight-bold" style="line-height: 1.25">Settings</div>
                    <div class="small">Configure and edit your settings</div>
                </div>
            </a>

            <div class="dropdown-divider my-1"></div>
            
            <a 
                href=""
                role="button" 
                class="dropdown-item d-flex" 
                data-toggle="modal" 
                data-target="#logoutModal"
            >
                <div class="nav-icon">
                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle mr-2" style="height: 2.5rem; width: 2.5rem">
                        <i class="fas fa-sign-out-alt m-0" style="font-size: 17.5px"></i> 
                    </div>
                </div>
                <div>
                    <div class="text-wrap font-weight-bold" style="line-height: 1.25">Log out</div>
                    <div class="small">End your session</div>
                </div>
            </a>
        </div>
    </li>
</ul>